.idea/workspace.xml
.venv
*.py[co]
*.pyc
*.swo
*.swl
.installed.cfg
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
*.swp
*.swn
*.swm
*.pyc
*.swk
.ropeproject
terraform.tfstate
terraform.tfstate.backup
*.idea
.terraform
